@font-face {
  font-family: "sofia-pro";
  src: local("sofia-pro"),
    url(./fonts/Sofia/Sofia\ Pro\ Bold\ Az.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

* {
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 72px;
}

h2 {
  font-weight: bold;
  color: #fff;
  font-size: 48px;
}

h3 {
  font-weight: bold;
  color: #07234e;
  font-size: 36px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	height: 100%;
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.5rem;
}

a {
	color: inherit;
}
